:host {
  display: flex;
  justify-content: center;
  margin: 100px 10px;
}

.mat-form-field {
  width: -webkit-fill-available;
  font-size: 15px;
}

.pads {
  padding: 10px 0px;
  line-height: 1;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}