
<footer class="footer-distributed" style="padding-bottom:30px">
			<div class="footer-left">
				<h4><span>FC</span> & <span>WR</span> Quick Links</h4>
				<p class="footer-links">
					<a routerLink="/home" class="link-1">Home</a>
					<span>|</span>
					<a routerLink="/profile" >Profile</a>
					|
					<a routerLink="/add-new-auction">Add New Bid</a>
					|
					<a routerLink="/contact-us">Contact Us</a>
					|					
					<br class="show-lg">
					<a routerLink="/about-us">About Us</a>
					|
					<a routerLink="/login">Login</a><span class="show-lg">&nbsp;</span>
					|
					<a routerLink="/register">Register</a>
					|
					<a routerLink="/setting">Setting</a>
					|
					<a routerLink="/admin">Admin</a>
					|
					<a routerLink="/forgot-password">Forgott Passowrd</a>
				</p>

				<p class="footer-company-name">
					Copyright &copy; 2022 All Rights Reserved by FC&WR
				</p>
			</div>

			<div class="footer-center">
				<h4>Information</h4>
				<div>
					<i class="bi bi-geo-alt"></i>
					<p>
						<a href="https://www.google.com/maps/d/viewer?mid=1eirAH1J8COzlYvYs0KkjkTAtz0I&hl=en_US&ll=33.683076580888994%2C73.02650592286379&z=13">
							<span>Sector E-8 Shangrialla Road</span> Islamabad Pakistan</a></p>
				</div>

				<div>
					<i class="bi bi-telephone-outbound"></i>
					<p><a href="tel:03489605703">03489605703</a></p>
				</div>

				<div>
					<i class="bi bi-envelope"></i>
					<p><a href="mailto:ziauddin.foryou@gmail.com">ziauddin.foryou@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the FC & WR</span>
					<a style="color:black;" routerLink="/terms-and-conditions">Terms and Conditions</a>
					<a >Privacy Policy</a>
					<a >FAQs</a>
				</p>

				<div class="footer-icons">

					<a><i class="bi bi-facebook white"></i></a>
					<a ><i class="bi bi-twitter white"></i></a>
					<a ><i class="bi bi-linkedin white"></i></a>
					<a ><i class="bi bi-instagram white"></i></a>
					<a><i class="bi bi-youtube white"></i></a> 
					<a (click)="goToTop()" class="go-to white"><i class="bi bi-arrow-up-circle"></i></a> 
				<p class="footer-company-sm">Copyright &copy; 2022 All Rights Reserved by FC&WR</p>
				</div>
				
			</div>

		</footer>