.full-width{
  width: -webkit-fill-available;
  font-size:15px;
}
p{
  margin-bottom: 2px;
}
.close{
  float: right;
  color: darkgray;
  cursor: pointer;
}
.close:hover{
  color: #333;
}
.label{
  padding-top: 9px;
    display: block;
}
.comment{
  padding-right: 3%;
  padding-top: 5px;
}
.input{
  border: 1.5px solid rgb(82, 82, 174) !important;
  padding: 10px;
}
.input:focus{
  border: 2px solid rgb(82, 82, 174);
  outline: 0;
}
@media (max-width:768px){
 .comment{
  padding-right: initial;
 }
}