
    <div class="about-section">
        <h1>About Us</h1>
        <p>We are currently opperational in islamabad and has future plans to expand throughout the country</p>
        <p>This web Application will help you find the products or food items that are near to expire food you just have to win a bid and go throught the payment method inorder to have successful purchases.</p>
      </div>
      
      <h2 style="text-align:center">Project Team</h2>
      <div class="row">
        <div class="card-column">
          <div class="data-card">
            <img src="https://www.bitpointofsale.com/zia-khan.png" alt="Zeeshan" style="width:100%">
            <div class="container">
              <!-- <h2>Zeeshan Aslam</h2>
              <p class="title">Supervisor</p>
              <p>The guider and leader of the project</p>
              <p>zeeshan@bahria.com</p> -->
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="card-column">
          <div class="data-card">
            <img src="https://www.bitpointofsale.com/zia-khan.png" alt="Faisal" style="width:100%">
            <div class="container">
               <!-- <h2>Faisal Zulfiqar</h2>
             <p class="title">Designer and Coder</p>
              <p>The founder of the idea for this project </p>
              <p>faisal@gmail.com</p> -->
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        
        <div class="card-column">
          <div class="data-card">
            <img src="https://www.bitpointofsale.com/zia-khan.png" alt="zia" style="width:100%">
            <div class="container">
              <!-- <h2>Zia-UD-Din</h2>
              <p class="title">Coder and Manager</p>
              <p>Manager of the project</p>
              <p>zia@gmail.com</p> -->
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
